<section class="advantages-section  container " id="advantages">
    <div class="adv-conteiner">
         <h3 class="advantages-titel">Advantages</h3>
        <ul class="advantages-list" >
            <li class="adv-item"><img class="adv-img" src="./img/parchment.png" alt="Engaging Storyline"> <h4 class="adv-subtitel">Engaging Storyline </h4><p class="adv-text">A captivating tale of Coco and her chicks adds depth to your gaming experience</p></li>
            <li class="adv-item"><img class="adv-img1" src="./img/lightning.png" alt="Interactive Elements"><h4 class="adv-subtitel"> Interactive Elements</h4><p class="adv-text">Special bubbles and boosters add a strategic layer to the gameplay.</p></li>
            <li class="adv-item"><img class="adv-img" src="./img/cup.png" alt="Variety of Levels"><h4 class="adv-subtitel"> Variety of Levels</h4><p class="adv-text">Over 500 levels with unique challenges keep the game exciting and fresh.</p></li>
            <li class="adv-item"><img class="adv-img" src="./img/heart.png" alt="Family-Friendly"><h4 class="adv-subtitel">Family-Friendly </h4><p class="adv-text">Suitable for players of all ages with its easy-to-learn mechanics.</p></li>
            <li class="adv-item"><img class="adv-img2" src="./img/clock.png" alt="Regular Updates"><h4 class="adv-subtitel"> Regular Updates</h4><p class="adv-text">New levels and events are regularly added to keep the game interesting.</p></li>
            <li class="adv-item"><img class="adv-img" src="./img/star.png" alt="Social Features"><h4 class="adv-subtitel"> Social Features</h4><p class="adv-text">Compete with friends and share your progress on social media.</p></li>
            
        </ul> </div>
 
       

</section>