<header class="header">
    <div class="container header-container">

        <div class="header-navigation">
            <div class="header-logo">
                <a href="./index.html" class="header-logo" aria-label="Home Page">
                    <img src="./img/logo_header.png" alt="header-logo" width="16" height="16">
                </a>
                <a class="header_text" href="./index.html" role="link" aria-label="Home Page">
                    Bubble CoCo
                </a>
            </div>

            <button type="button" class="open-menu js-open-menu" aria-expanded="false">
                <svg class="burger" width="24" height="24">
                    <use href="../img/symbol-defs.svg#icon-menu"></use>
                </svg>
            </button>

        </div>
</header>