<section class="info-section">
<div class="info_container">
    <h2 class="info-titel">"Bubble Coco"</h2>
    <ul class="info-list">
        <li>
            <p class="text-info">offers a charming puzzle experience where players shoot bubbles to match colors and clear levels. </p>
        </li>
        <li>
            <p class="text-info" >The game revolves around Coco the hen who embarks on a journey to save her chicks from the mischievous fox. </p>
        </li>
        <li>
            <p class="text-info" >With vibrant graphics and engaging sound effects, this game is perfect for players of all ages seeking fun-filled challenges.</p>
        </li>
    </ul>

    <a href="https://play.google.com/" class="info-logo-google"> <svg class="google" width="200" height="59">
        <use class="google-info" href="../img/sprite.svg#icon-cta-button-y"></use>
      </svg></a>
    <picture class="info-img" >
        <source srcset="
              ./img/image_info.png   1x,
              ./img/image_info2.png 2x
          " media="(min-width: 375px) and (max-width: 1439px)" loading="lazy" />
          <img src="./img/image_info.png" alt="info_image"  loading="lazy" />
      </picture>
</div>

</section>