<section class="reviews-section" id="reviews">
  <div class="reviews container">
    <h2 class="rev-titel">Reviews</h2>


       
    <div class="swiper">
      <div class="swiper-wrapper ">
        <div class="swiper-slide  ">
          <img class="rev-img-reiting" src="../img/rating 1.png" alt="reiting">
          <p class="text-rev">Addictive and fun! Great way to pass time and the challenges are just right</p>
          <p class="subtext-rev">BubbleMazzzzste r53</p>
        </div>
        <div class="swiper-slide  ">
          <img class="rev-img-reiting" src="../img/rating 1.png" alt="reiting">
          <p class="text-rev">Love the cute characters and the colorful gameplay. It's always exciting to see what's next!</p>
          <p class="subtext-rev">CocoLover88</p>
        </div>
        <div class="swiper-slide  ">
          <img class="rev-img-reiting" src="../img/rating 1.png" alt="reiting">
          <p class="text-rev">It's a blast to play. The events are super fun and I love competing against my friends</p>
          <p class="subtext-rev">CasualGamer59</p>
        </div>
        <div class="swiper-slide  ">
          <img class="rev-img-reiting" src="../img/rating 1.png" alt="reiting">
          <p class="text-rev">Addictive and fun! Great way to pass time and the challenges are just right</p>
          <p class="subtext-rev">BubbleMazzzzste r53</p>
        </div>
        
      </div>
      
      <button type="button" class="open-right">
        <svg class="rev-btn" width="8" height="12">
            <use href="./img/sprite.svg#icon-left"></use>
        </svg>
    </button>

    <button type="button" class="open-left">
        <svg class="rev-btn" width="8" height="12">
            <use href="./img/sprite.svg#icon-ritht"></use>
        </svg>
    </button>
    </div>
  </div>
  <div class="backdrop" id="backdrop"></div>
</section>
