.header-container {
  padding: 16px;
}
  .burger {
    fill: #6E00FA;
  }

.header_text {
font-family:"Paytone One", sans-serif;;
font-weight: 400;
font-size: 9px;
line-height: 13px;
letter-spacing: 0.01em;
color: #fff;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}




.open-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-left: auto;
  transition: background-color 300ms ease-in-out;
}
.open-menu:hover,
.open-menu:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
