.sub-hero-containet {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.sub-titel-hero {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.01em;
    color: #fff;
    margin-bottom: 8px;
}
.google{
    width:160px;
     height:47px;
}
.titel-hero {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.01em;
    color: #ffe000;
    margin-bottom: 8px;
    
}

.text-hero {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    max-width: 223px;
    margin-bottom: 24px;
}
.hero-containet {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.google-hero {
    fill: white;
    stroke: transparent;
}
.hero-logo-google {
    margin-bottom: 55px;
}
.hero-img {
   max-width: 279px;
   margin-bottom: 56px;
   max-width: 279px;
}

@include media(desktop){
    .hero-containet {
        flex-direction: row;
        justify-content:space-between;
        padding-bottom: 172px;

    }
    .hero-img {
        max-width: 404px;
        margin-bottom: 0;
     }
     .text-hero{
        font-style: 16px;
        max-width: 310px;
        text-align: left;

     }
     .google{
        width:201px;
         height:59px;
    }
    .titel-hero{
        
        font-style: 48px;
    }
    .sub-titel-hero{
        font-style: 48px;
    }
    .sub-hero-containet{
        justify-content: start;
        align-items: start;
    }

}