.reviews-section {
    padding-bottom: 40px;
}

.rev-titel {
    padding-top: 56px;
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #5b01d0;
    margin-bottom: 24px;
}

.rev-img-reiting {
    width: 82px;
    height: 13px;
}

.text-rev {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.01em;
    color: #fff;
}

.subtext-rev {
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.01em;
    color: #fff;
}

.open-right,
.open-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    background-color: #E9DFFF;
    cursor: pointer;
    border: none;
    outline: none;
    width: 44px;
    height: 44px;
    transition: background-color 300ms ease-in-out;
    z-index: 50;
}
.open-right:focus,
.open-left :focus,
.open-right:hover,
.open-left:hover{
    background-color:#5B00D0;
} 

.gallery__swiper {
    position: relative;
    width: 100%;
    max-width: 288px;
    margin: 0 auto;
    height: 100%;
}

.swiper-slide {
    width: 188px;
    flex-shrink: 0;
    padding: 16px;
    gap: 8px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    transition: transform 0.6s;
    background-color: $_bg_color;
    overflow: visible;

}

.swiper {
    width: 100%;
    height: 100%;

}

.swiper-wrapper {
    display: flex;
    height: 100%;

}


@media (min-width: 1440px) {
    .gallery__swiper {
        position: relative;
        width: 100%;
        max-width: 1188px;
        margin: 0 auto;
        height: 100%;
    }

    .swiper-wrapper {
        width: 1050px;
    }

    .swiper-slide {
        border-radius: 15px;
        padding: 30px;
        max-width: 304px;
        gap: 16px;
    }



    .rev-btn {
        stroke: #ABA1C8;
    }

    .rev-btn:hever , 
    .rev-btn:focus 
    {
        stroke: #5B00D0;
    }

    .open-right {
        right: 10px;
    }

    .open-left {
        left: 10px;
    }

    .open-right,
    .open-left {
        display: block;
    }

    .rev-titel {
        font-size: 48px;
        margin-bottom: 64px;
    }


    .rev-img-reiting {
        width: 100px;
        height: 15px;
    }

    .text-rev {
        font-size: 11px;
        width: 244px;
    }

    .subtext-rev {
        font-size: 11px;
        width: 96px;
    }

    .reviews-section {
        padding-bottom: 107px;
    }

}